.box {
  border: solid;
  background-color: #9aa366;
  background-position: center;
  background-size: cover;
  position: relative;
  border-style: solid;
  width: 1000px;
  height: 1500px;
  padding: 50px;
  }

.background h1 {
  color: #ffffff;
  float: right;
}

