.outer{
  width: 1050px;
  height: 1500px;
  border: solid;
}

.box {
  margin: 20px;
  box-sizing: border-box;
  height:100%;
  padding-bottom: 120px;
  }

.Name {
  background-color: #9aa366;
  color: #ffffff;
  text-align: right;
  height: 60px;
  padding: 20px 30px 0px 0px;
}

.content {
  width:100%;
  height:100%;
  margin: 0px;
}

.work {
  width: 70%;
  height: 100%;
  background-color:#e0ef70;
  display:inline-block;
}

.summary {
  background-color:#454734;
    width: 30%;
  height: 100%;
  float: right;
}
